body {
    background: rgb(217, 217, 226);
    font-family: 'Lobster', cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

header{
    background-color: black;
    margin: 0;
    padding: 15px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.content {
    position: absolute;
    background-color: beige;
    padding: 0 5%;
    margin: 0 auto;
    font-size: 1.5rem;
    margin: 0 20%;


}

input[type=button]{
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 5px;
    margin: 2px;

}

input[class=checkScore]{
    margin-top: 10px;
    padding: 20px 30px;
}

.text {
  
    text-transform: uppercase;
}


@media only screen and (max-width:600px){
    header{
        width: 93%;
        font-size: 25px;
    }
  .content {
       width: 90%;
       margin: 0 auto;
   }
   
    
}